<div class="field">
    <div class="control">
        <input
            class="input is-medium"
            name="buyer-email"
            type="email"
            placeholder="tu.direccion@email.com"
            [(ngModel)]="email"
            (ngModelChange)="onChange()"
            [ngClass]="{'on-error': showError()}"
            autofocus
        >
    </div>
</div>
