<section class="container">
    <div class="columns is-multiline">
        <div class="column is-8 is-offset-2 register">
        <div class="columns">
            <div class="column left">
            <h1 class="title is-1">Thriflora</h1>
            <h2 class="subtitle colored is-4">Lorem ipsum dolor sit amet.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ex deleniti aliquam tempora libero excepturi vero soluta odio optio sed.</p>
            </div>
            <div class="column right has-text-centered">
            <h1 class="title is-4">Lorem ipsum dolor</h1>
            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
            <form>
                <app-buyer-email-input [hasValidEmail]="hasValidEmail()" (emilChangedEvent)='onChangeBuyerEmail($event)'></app-buyer-email-input>
                <app-countries-select></app-countries-select>
                <app-acceptance-checkbox (acceptanceChangedEvent)='onChangeAcceptance($event)'></app-acceptance-checkbox>

                <app-registration-button [enabled]="canRegister" (registrationClickedEvent)='showRegistrationMessage()'></app-registration-button>
                <br />
                <app-registration-message *ngIf="hasToShowRegistrationMessage"></app-registration-message>
            </form>
            </div>
        </div>
        </div>
        <div class="column is-8 is-offset-2">
        <br>
        <nav class="level">
            <div class="level-left">
            <div class="level-item">
                <span class="icon">
                <i class="fab fa-twitter"></i>
                </span> &emsp;
                <span class="icon">
                <i class="fab fa-facebook"></i>
                </span> &emsp;
                <span class="icon">
                <i class="fab fa-instagram"></i>
                </span> &emsp;
                <span class="icon">
                <i class="fab fa-github"></i>
                </span> &emsp;
                <span class="icon">
                <i class="fas fa-envelope"></i>
                </span>
            </div>
            </div>
            <div class="level-right">
            <small class="level-item" style="color: var(--textLight)">
                &copy; Super Cool Website. All Rights Reserved.
            </small>
            </div>
        </nav>
        </div>
    </div>
</section>
